form .addItem {
  display: flex;
  width: 400px;
  background-color: #fefefe;
  border-radius: 0.2rem;
}

.addItem input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  outline: none;
}
.addItem button {
  width: 20px;
  border: none;
  background-color: blue;
  color: #fff;
}
.list ul {
  width: 400px;
  margin-top: 1rem;
}

.list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid blue;
  margin: 0.4rem 0;
  padding: 0.6rem;
  font-size: 1rem;
}

.list button {
  width: 20px;
  background-color: red;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.bk-blue {
  background-color: rgb(95, 95, 238);
  color: #fff;
}
.normal {
  background-color: transparent;
  color: #000;
}
